---
import raw_data from '../db/boycott.json';

const url = new URL(Astro.request.url);
const categoryQuery = url.searchParams.get('category')?.trim();

const filteredProducts = raw_data[categoryQuery] || [];
const isAjaxRequest = Astro.request.headers.get('hx-request');
import BaseLayout from '@layouts/BaseLayout.astro';
import Cate from '@components/Category.astro';
const categories = Object.keys(raw_data);

---
{isAjaxRequest ? (
<div id="products">
  
  <section    class=" mt-5 rounded-md items-center justify-center bg-white/50 backdrop-blur mx-auto w-fit [&>div]:w-full">
<h1>{categoryQuery}</h1>
  {filteredProducts.length > 0 ? (
    <section>            <div class="flex flex-col gap-5 p-6 pb-3">

      {filteredProducts.map(product => (
        <a href=`${Astro.url.origin}/product/searchResult?search=${product}`                           class="flex gap-2 flex-inline font-semibold leading-none tracking-tight text-xl decoration-none font-bold text-red-800 mb-2"
 > {product} <div class="i-fluent-emoji-cross-mark font-bold h-5 w-5" /></a>
      ))}</div>
    </>
  ) : (
    <p>No products found in this category.</p>
  )}</section>
</div>):( (<>
<BaseLayout><div id="search-result"><Cate kategori={categories}/><div id="products">
  {filteredProducts.length > 0 ? (
    <>  <section    class=" mt-5 rounded-md items-center justify-center bg-white/50 backdrop-blur mx-auto w-fit [&>div]:w-full">
<h1>{categoryQuery}</h1>
      <div class="flex flex-col gap-5 p-6 pb-3">

      {filteredProducts.map(product => (
        <a href=`${Astro.url.origin}/product/searchResult?search=${product}`                           class="flex gap-2 flex-inline font-semibold leading-none tracking-tight text-xl decoration-none font-bold text-red-800 mb-2"
 > {product} <div class="i-fluent-emoji-cross-mark font-bold h-5 w-5" /></a>
      ))}</div></section>
    </h1>

  ) : (
    <p>No products found in this category.</p>
  )}
</div></div></BaseLayout></>))}
